# Compiled files
*.tfstate
*.tfstate.*.backup
*.tfstate.backup

# Module directory
.terraform/

# Lock Files
.terraform.lock.hcl

# Variable values for development
terraform.tfvars

# CLAUDE
CLAUDE.md

# macOS
.DS_Store
